<footer class="flex items-center border-t border-neutral-800/50" role="contentinfo">
  <div
    class="container flex flex-col items-center justify-between gap-4 pt-8 pb-4 sm:pt-4 md:flex-row"
  >
    <p class="text-neutral-400">© 2026 Pugovka Booster</p>
    <nav class="flex flex-col items-center gap-3 sm:flex-row" aria-label="Ссылки в подвале">
      <a class="link-nav" href="/terms-and-conditions">Договор оферты</a>
      <a class="link-nav" href="https://cabinet.pugovkabooster.com/"> Личный кабинет </a>
      <a class="link-nav" href="mailto:support@pugovkabooster.com"> Написать нам </a>
    </nav>
  </div>
</footer>
