<footer
  class="border-t border-neutral-800/50 flex items-center"
  role="contentinfo"
>
  <div
    class="container flex md:flex-row flex-col gap-4 items-center justify-between sm:pt-4 pt-8 pb-4"
  >
    <p class="#">© 2026 Pugovka Booster</p>
    <nav class="flex items-center sm:flex-row flex-col gap-3">
      <a class="link-nav" href="#">Договор оферты</a>
      <a class="link-nav" href="#">Личный кабинет</a>
      <a class="link-nav" href="mailto:support@pugovkabooster.com">
        Написать нам
      </a>
    </nav>
  </div>
</footer>
